$hover-height-offset: 0.5rem;
$min-padding: 0.5rem;
$min-margin: 0.5rem;
$basic-shadow: 2px 2px 4px 0 rgba(0,0,0,0.25);
$basic-shadow-hover: 2px calc(#{$hover-height-offset} + 2px) calc(#{$hover-height-offset} + 4px) 0 rgba(0,0,0,0.05);